<ul class="stages-section__list">
  <li class="stages-section__item">
    <div class="stages-section__item-number">1</div>
    <div class="stages-section__item-text">
      Строительство железнодорожной магистрали Москва-Васюки
    </div>
  </li>
  <li class="stages-section__item">
    <div class="stages-section__item-number">2</div>
    <div class="stages-section__item-text">
      Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
    </div>
  </li>
  <li class="stages-section__item">
    <div class="stages-section__item-number">3</div>
    <div class="stages-section__item-text">
      Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов,
      икры, шоколадных конфет
    </div>
  </li>
  <li class="stages-section__item">
    <div class="stages-section__item-number">4</div>
    <div class="stages-section__item-text">Строительство дворца для турнира</div>
  </li>
  <li class="stages-section__item">
    <div class="stages-section__item-number">5</div>
    <div class="stages-section__item-text">Размещение гаражей для гостевого автотранспорта</div>
  </li>
  <li class="stages-section__item">
    <div class="stages-section__item-number">6</div>
    <div class="stages-section__item-text">
      Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
    </div>
  </li>
  <li class="stages-section__item">
    <div class="stages-section__item-number">7</div>
    <div class="stages-section__item-text">
      <img src="./assets/images/airplane.svg" alt="Самолёт" aria-hidden="true" />
      <span>
        Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и
        дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн
      </span>
    </div>
  </li>
</ul>
