<div class="running-text__container">
  <div class="running-text__track">
    <div class="running-text__content">
      <span
        >Дело помощи утопающим — дело рук самих утопающих! • Шахматы двигают вперед не только
        культуру, но и экономику! • Лед тронулся, господа присяжные заседатели! •</span
      >
    </div>
    <div class="running-text__content running-text__content--duplicate">
      <span
        >Дело помощи утопающим — дело рук самих утопающих! • Шахматы двигают вперед не только
        культуру, но и экономику! • Лед тронулся, господа присяжные заседатели! •
      </span>
    </div>
  </div>
</div>
